/* Projects Section */
.projects {
    padding: 50px 10%;
    text-align: center;
    background: #f4f4f4;
}
.projects h3{
 color: rgba(255, 255, 0, 0.854);
}
.projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background: #111;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 1rem;
    margin-bottom: 15px;
}
